<div class="container mx-auto mt-5">
  <h1 class="display-3 py-3 m-3">My cart</h1>
  <div class="row m-3">
    <div class="card col col-12 col-md-7 me-3 mb-3 p-0">
      <div class="card-header"><strong>Items</strong></div>
      <div class="card-body">
        @if (cart.length > 0){ @for (item of cart; track item.id){
        <div class="d-flex">
          <img
            [src]="'images/' + item.image"
            alt="icon"
            width="100"
            height="auto"
            class="me-3"
          />
          <p class="me-auto">{{item.name}}</p>
          <p class="pe-2">{{item.quantity}} x</p>
          <p>{{item.price}}€</p>
        </div>
        <hr />
        } } @else {
        <p>Your cart is empty</p>
        }
        <div class="d-flex justify-content-between">
          <p><strong>Subtotal: </strong></p>
          <p><strong>{{subtotal}}€</strong></p>
        </div>
      </div>
    </div>

    <div class="card col col-12 col-md-4 mb-3 p-0">
      <div class="card-header"><strong>Summary</strong></div>
      <div class="card-body">
        <div class="d-flex">
          <p class="me-auto">Items</p>
          <p>{{subtotal}}€</p>
        </div>
        <div class="d-flex">
          <p class="me-auto">10% Service fee</p>
          <p>{{serviceFee}}€</p>
        </div>
        @if (subtotal > 40){
        <div class="d-flex">
          <p class="me-auto">15% Discount</p>
          <p>{{discount}}€</p>
        </div>
        }

        <hr />
        <div class="d-flex">
          <p class="me-auto"><strong>Total</strong></p>
          <p><strong>{{total}}€</strong></p>
        </div>
      </div>
    </div>
  </div>
</div>
